@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 600px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.description {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
}

.social-icon i {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

html {
  font-family: monospace;
}

.graffiti {
  font-family: "Graffiti", sans-serif;
}

#overlay-toggle {
  position: absolute;
  display: none;
}

.overlay {
  z-index: 1;
  background-color: black;
}

.overlay label {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vw;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.no-hover {
  display: block;
}

.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
}

.hover {
  text-decoration: none;
  color: white !important;
  transition: 0.4s !important;
}

.hover:hover {
  transition: 0.4s !important;
  color: white !important;
}

span::before {
  content: "\A";
  white-space: pre;
}

#center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#overlay-toggle:checked ~ .overlay {
  animation-fill-mode: forwards;
  animation-name: fade, hide;
  animation-delay: 0s, 600ms;
  animation-duration: 600ms, 1ms;
}

#overlay-toggle:checked ~ .overlay label {
  animation-fill-mode: forwards;
  animation-name: fade;
  animation-delay: 0s;
  animation-duration: 500ms;
}

@font-face {
  font-family: "Graffiti";
  src: url(font.ttf);
}

@media (hover: hover) {
  .overlayhover {
    display: block;
  }
  .overlayno-hover {
    display: none;
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}